{% extends 'Weather_innovation/base.html'%} {% load static %}
<!--  -->

{% block extra_stylesheets %}
<link rel = "stylesheet" href="{% static 'Weather_innovation/css/graphs.css '%}"
{% endblock %}
<!--  -->

{% block extra_scripts %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="{% static 'Weather_innovation/js/graphs.js'%}"></script>
{% endblock %}
<!--  -->

{% block extra_head%}
<title>Weather innovation</title>
<!--  -->
{% endblock%}

<!--  -->
{% block content%}
<h1>Select device</h1>
<select id = "device_list" onchange="refreshData()">
    
</select>
<div id="temperatureContainer" style="height: 400px; min-width: 310px">Loading...</div>
<hr>
<div id="humidityContainer" style="height: 400px; min-width: 310px">Loading...</div>
<hr>
<div id="pressureContainer" style="height: 400px; min-width: 310px">Loading...</div>
{% endblock %}