{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather innovation - Login</title>
    <link rel="stylesheet" href="{% static 'Weather_innovation/css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'Weather_innovation/img/icon_transparent_background.png' %}">
</head>

<body>
    <div id = "login">
        <img src = "{% static 'Weather_innovation/img/icon_transparent_background.png' %}">
        <h1>WI - Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</body>

</html>